ai-agents/workflows/base-agent-template.json
{
  "name": "Base AI Agent Template",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agent-webhook",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "agent-webhook-base"
    },
    {
      "parameters": {
        "url": "http://172.18.0.1:3001/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer leann_api_2025"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.query || 'general information' }}"
            },
            {
              "name": "index",
              "value": "myvault"
            },
            {
              "name": "top_k",
              "value": 5
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "leann-search",
      "name": "LEANN Context Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "toolDescription": "AI Agent that processes requests with contextual knowledge from LEANN semantic search",
        "text": "=Process the following request with the provided context:\n\nRequest: {{ $('Webhook Trigger').first().json.query }}\n\nContext from knowledge base:\n{{ $json.results ? $json.results.map(r => r.content).join('\\n\\n') : 'No context found' }}\n\nProvide a helpful response based on this information.",
        "options": {
          "systemMessage": "You are an intelligent assistant with access to a comprehensive knowledge base. Use the provided context to give accurate, helpful responses. If the context doesn't contain relevant information, say so clearly.",
          "maxIterations": 10,
          "returnIntermediateSteps": false
        }
      },
      "id": "ai-agent",
      "name": "AI Agent Decision",
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 1.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "error-condition",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 500]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "LEANN Context Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LEANN Context Search": {
      "main": [
        [
          {
            "node": "AI Agent Decision",
            "type": "main",
            "index": 0
          },
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Decision": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "false": [
        [
          {
            "node": "AI Agent Decision",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "true": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["ai-agent", "leann", "template"],
  "triggerCount": 1,
  "updatedAt": "2025-09-11T15:30:00.000Z",
  "versionId": "1"
}