ai-agents/workflows/import-knowledge-manager.json
{
  "name": "Knowledge Manager Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "knowledge-manager",
        "options": {}
      },
      "id": "knowledge-webhook",
      "name": "Knowledge Input Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "knowledge-manager-webhook"
    },
    {
      "parameters": {
        "url": "http://172.18.0.1:3001/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer leann_api_2025"
            },
            {
              "name": "Content-Type", 
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.content || $json.title || 'content analysis' }}"
            },
            {
              "name": "index",
              "value": "myvault"
            },
            {
              "name": "top_k",
              "value": 8
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "similarity-search",
      "name": "Find Similar Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "path": "=/var/lib/docker/volumes/docker-compose_obsidian-vaults/_data/MyVault/02-Zettelkasten/Inbox/{{ $('Knowledge Input Webhook').first().json.title || 'New-Note' }}-{{ new Date().toISOString().slice(0,10) }}.md",
        "fileContent": "=# {{ $('Knowledge Input Webhook').first().json.title || 'New Knowledge' }}\n\n**Source**: {{ $('Knowledge Input Webhook').first().json.source || 'Unknown' }}\n**Date**: {{ new Date().toISOString().slice(0,10) }}\n\n## Content\n{{ $('Knowledge Input Webhook').first().json.content }}\n\n## Similar Content Found\n{{ $('Find Similar Content').first().json.results ? $('Find Similar Content').first().json.results.map((r, i) => `${i+1}. ${r.content.slice(0, 100)}...`).join('\\n') : 'No similar content found' }}\n\n---\n*Generated by Knowledge Manager Agent*",
        "options": {
          "encoding": "utf8"
        }
      },
      "id": "save-file",
      "name": "Save to MyVault",
      "type": "n8n-nodes-base.writeFile",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Knowledge Input Webhook": {
      "main": [
        [
          {
            "node": "Find Similar Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Similar Content": {
      "main": [
        [
          {
            "node": "Save to MyVault",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to MyVault": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}